body {
    background-color: beige;
    font-family: fantasy, 'Courier New', Courier, monospace, sans-serif;
    font-weight: 100;
}
.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
}

img {
    max-inline-size: 100%;
    display: block;
}
h1 {
    text-align: center;
    font-size: 5.7rem;
}
h1 span {
    color: rgb(63, 146, 63);
}

h2 {
    color: rgb(1, 24, 24);
}
h3 {
    color: rgb(239, 27, 27);
}

header {
    display: flex;
    justify-content: space-around;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

header nav ul li{
    margin: 0;
    padding: 0;
}


header nav ul li a {
        text-decoration: none;

}

.teal-bg {
    background-color: teal;
    border: 4px solid rgb(144, 232, 232);
    padding: 20px;
}

.teal-bg span {
    font-style: italic;
    font-weight: bolder;
    color: #a99999;
}

section {
    margin-top: 20px;
}


/******* Two column layout ****************/

.two-column-layout {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
}